# udev rules for firmware loading on qualcomm gobi devices

ACTION=="add", SUBSYSTEM=="tty" KERNEL=="ttyUSB*" GOTO="gobi_rules"

GOTO="gobi_rules_end"

LABEL="gobi_rules"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9211", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"       
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9212", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="03f0", ATTRS{idProduct}=="1f1d", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="03f0", ATTRS{idProduct}=="201d", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="04da", ATTRS{idProduct}=="250d", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="04da", ATTRS{idProduct}=="250c", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="413c", ATTRS{idProduct}=="8172", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="413c", ATTRS{idProduct}=="8171", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="a001", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="a008", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1776", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1774", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="fff3", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="fff2", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="1557", ATTRS{idProduct}=="0a80", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9001", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9002", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"     
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9202", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9203", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9222", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9008", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9201", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9221", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9231", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="1f45", ATTRS{idProduct}=="0001", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="413c", ATTRS{idProduct}=="8185", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="413c", ATTRS{idProduct}=="8186", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9208", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="920b", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9224", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9225", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9244", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9245", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="03f0", ATTRS{idProduct}=="241d", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="03f0", ATTRS{idProduct}=="251d", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9214", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9215", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9264", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9265", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9234", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9235", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9274", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9275", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="1199", ATTRS{idProduct}=="9000", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="1199", ATTRS{idProduct}=="9001", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="1199", ATTRS{idProduct}=="9002", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="1199", ATTRS{idProduct}=="9003", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="1199", ATTRS{idProduct}=="9004", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="1199", ATTRS{idProduct}=="9005", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="1199", ATTRS{idProduct}=="9006", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="1199", ATTRS{idProduct}=="9007", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="1199", ATTRS{idProduct}=="9008", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="1199", ATTRS{idProduct}=="9009", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="1199", ATTRS{idProduct}=="900a", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="16d8", ATTRS{idProduct}=="8001", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="16d8", ATTRS{idProduct}=="8002", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9204", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9205", RUN+="gobi_loader $env{DEVNAME} /lib/firmware/gobi"

LABEL="gobi_rules_end"
