html {
  /*overflow: hidden;*/
}
/*
MWRover - Mecanum Wheel Rover Base
http://www.madox.net/
*/

body  {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12pt;
  margin: 0px;
  /*overflow: hidden;*/
  border: none;
  border-style: none;
  text-align: center;
  vertical-align: middle;
  background-color: black;
  color: white;
}


#originball, #targetball {
	width: 20px;
	height: 20px;
	border-radius: 50%;
  -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	position:absolute;
	top: 0px;
	left: 0px;
  visibility: hidden;
  z-index:9999;
}

#originball {
  background-color: blue;
}

#targetball {
  background-color: green;
}

#mainbar, #rotatebar, #camerabar {
  position:absolute;
  left:0%;
  width:100%;
  color:white;  
}

#mainbar {
  height:80%;
  top:10%;
}

#camerabar {
  height:10%;
  top:90%;
  background-color:#000080;
}

#rotatebar {
  height:10%;
  top:0%;
  background-color:#000080;
}
